* {
  margin: 0;
}

body {
  background-color: #E0F2F1;
}

.app {
  display: flex;
  justify-content: space-evenly;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__left {
  flex: 0.8;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__information {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1 rem;
  margin-bottom: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
